.container{
    width: 1000px;
}
.registration, .error{
    min-height: 1px;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}
.login{
    min-height: 1px;
    display: block;
    margin: 20px;
}
.inline-box{
    display: inline-block;
}
.btnToRight{
    float: right;
}
.left,.right{
    min-height: 1px;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
}
.author{
    font-weight: bolder;
}
.quotes{
    min-height: 75px;
    position: relative;
    border: 2px solid black;
}

